/*Kate Blunt
Web Final for CGS 1821
Lasagna css */
* {
	margin: 0;
	padding: 0;
}

html {
    background-image: url("../images/background.jpg");
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    border: 3px solid #8B008B;
    box-shadow: 2px 3px 2px 2.5px;

}

a {
    color: red;

}

a:hover, a:focus {
    color: mediumpurple;
    
}


/*flex layout*/
#nav_menu ul {
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
    
}

#nav_menu ul li {
	/*float: left;*/   
    width: 25%; /* width: 200px; */  
   
}
#nav_menu ul li a {
    display: block;            
    text-align: center;
    padding-top:1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #FFB6C1;
    color: #C71585;
    font-weight: bold;
    border-bottom: 1px solid #8B008B;
    border-left: 1px solid #8B008B;
    border-right: 1px solid #8B008B;
}



/* Top menu */
#nav_menu a.current {
	color: #4B0082;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%; 
     
}

#nav_menu ul ul li {
	/*float: none;*/
    width: 25%;
}

#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#nav_menu a:hover, a:focus {
    color: #4B0082;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}





header { 
    background-image: -webkit-linear-gradient(white 0%, #FFFF66 75%, #FFFF33 100%);
    background-image: -moz-linear-gradient(white 0%, #FFFFF66 75%, #FFFF33 100%);
    background-image: -o-linear-gradient(white 0%, #FFFF66 75%, #FFFF33 100%);
    background-image: linear-gradient(white 0%, #FFFF66 75%, #FFFF33 100%);
    padding: 30px;
    border-bottom: 2px solid #8B008B;   
} 

header img {
    float: left;
    border: 1px solid black; 
    min-width: 40px; 
    max-width: 25%;
    
}

header h2 {
    font-size: 350%;
    text-align: center;
    padding-bottom: .25em;
    padding-right: 1em;
    /*
    font-style: italic; */
    color:#8B008B ;
    /*web font*/
    font-family: 'Reenie Beanie', cursive;
    
}

header h3 {
text-align: center;
    padding-right: 2em;
    color: #C71585;
}

/*flex layout */
main {
    display: flex;
    flex-flow: row wrap;
}

/* sidebar */ 

aside {
    float: left; 
    width: 20%;   /*160/800 times 100 */   
    padding-top: 2em;
}

/*section*/
{
    float: right; 
}

section {
    flex-basis: 90%;
    /*width: 100%;
    float: right; */
    
}
section h2 {
    font-size: 250%;
    padding-top: .5em; 
    color: #8B008B;
    text-align: center;
    
}

section p{
    float: left; 
    padding: 1em;
}
.shadow {
    text-shadow: 2px 2px #D8BFD8; 
}

/*image of the website */
#sidebar_left img {
    float:left; 
    width:75%;            /* 300/400 times 100 */ 
    border: 1px solid black; 
    box-shadow: 3px 6px 4px 3px;
    border: 1px solid pink; 
}

#sidebar_left {
   padding-left: 2em;
    width: 400px;
    height: 300px;
    padding-top: 3em;
}

#sidebar_left figure {
    float: left;
}
#sidebar_left figcaption {
    flex-basis: 50%;
	font-weight: bold;
    margin-top: 12.8em;
    margin-right: 5.2em;
    border-bottom: 1px solid black;
}

#sidebar_right {
    flex-basis: 10%;
    padding-top: .5em;
}

#sidebar_right h1 {
     font-size: 180%;
    color: #8B008B;
    padding-bottom: .7em;
}

#sidebar_right ul
{
    line-height: 2em;
}
#bottom {
   flex-basis: 90%;
    /*750/800 times 100 */ 
    padding-left: 2em;
}
#bottom h1 {
    text-align: left; 
    font-size: 170%;
    color: #8B008B;
    padding-bottom: 1em;
}

#bottom ol {
    line-height: 1.5em;
    padding-bottom: 1em;
    padding-left: 2em;
}

footer { 
	clear: both;
	border-top: 2px solid #8B008B;
	padding: 25px;
    background-image: -webkit-linear-gradient(#FFFF33 0%, #FFFF66 25%, white 100%);
    background-image: -moz-linear-gradient(#FFFF33 0%, #FFFF66 25%, white 100%);
    background-image: -o-linear-gradient(#FFFF33 0%, #FFFF66 25%, white 100%);
    background-image: linear-gradient(#FFFF33 0%, #FFFF66 25%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
    color: #8B008B ;
}
footer a {
    color: darkblue;
}
#mobile_menu {
	display: none;
}

/* tablet portrait to standard 800 */
@media only screen and (max-width: 800px) {
	html { background-image: none; }
	body { box-shadow: none; }
    body { font-size: 90%; }
     #sidebar_left figcaption {
        padding-top: 1.5em; 
         margin-right: 8em; 
    }
    
}

/* landscape orientation */

@media only screen and (max-width: 767px) {
    header img { float: left; }
    section {
        float:none;
        width: 95%;
    }
    header h2{ font-size: 250%}
    header h3 {font-size: 100%}
    
    header {
        padding-bottom: 3em;
    }
    
    #nav_list {
        padding-bottom: 2em;
            
    }
    
    #sidebar_right {
        padding-left: 4em; 
    }
    aside {
        float: none;
        width: 75%;
    }
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
    
    
    .slicknav_menu {
		background-color: pink!important;
	}
 


/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
	section h1{ font-size: 120%; }
    header h2{ font-size: 130%}
    header h3 { font-size: 80%}
}
#nav_list {
        margin-left: 25%;}  
    /*110/767 times 100 */
     header {
        padding-bottom: 4em; 
    }
    
    section p {
        padding-bottom: 2em; 
        
    }
    
    main {
        flex-direction: column;
    }
    #sidebar_left img {
        width: 300px;
        max-width: 70%;
        margin-left: 2em;
    }
    
    #sidebar_left figcaption {
        padding-top: .5em; 
        margin-left: 2em;
    }
    #sidebar_right {
        padding-left: 3em;
    }
    
    #sidebar_right ul {
        
        padding-left: 2em; 
        
    }
    
    #bottom ol {
        padding-left: 3em; 
    }